@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 85vw;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    overflow: hidden;
    display: flex;
    height: 70px;
    font-family: 'Ubuntu', sans-serif;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.navbar li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
nav ul li:hover{
    font-weight: 200;
}


.topleft{
    /* display: flex; */
    height: 50vh;
    width: 50%;
    /* padding:12px 0px; */
}

.topright{
    width: 50%;
    /* padding:12px 0px; */
    height: 50vh;
}
.section1{
    min-height: 70vh;
    max-height: 100vh;
}
.section1 h1{
    font-size: 2rem;
}

.img1{
    /* margin-left: 50vh; */
    width: 270px;
    height: 420px;
}
.dumbellimg{
    height: 80px;
    width: 140px;
    align-self: center;
}
.section2 h1{
    font-size: 2rem;
}
.section2{
    padding-left: 60px;
    padding-right: 60px;
}
.box{
    margin: 12px 22px;
}
.para{
    padding:10px 60px;
}
